/* Allgemeine Stile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('images/background.jpg'); /* Hintergrundbild */
    background-size: cover;  /* Bild füllt den Bildschirm */
    background-position: center; /* Bild bleibt zentriert */
    background-attachment: fixed;  /* Bild bleibt fixiert, wenn man scrollt */
    color: white;
}

/* Header */
header {
    text-align: center;
    padding: 100px 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Halbtransparenter Hintergrund für Header */
    position: relative;
}

header .logo {
    width: 120px;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: #FF6347;  /* Tomatenrot */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

header p {
    font-size: 1.2rem;
    color: #f1f1f1;
    font-weight: 500;
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Call to Action */
.cta {
    background-color: rgba(255, 99, 71, 0.8); /* Tomatenrot */
    padding: 50px 20px;
    text-align: center;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.3s ease;
}

.cta:hover {
    transform: scale(1.05);
}

.cta h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 15px;
}

.cta p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta a {
    text-decoration: none;
    background-color: #FF6347;
    padding: 12px 25px;
    font-size: 1.1rem;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta a:hover {
    background-color: #ff4500;
    transform: translateY(-5px);
}

/* Footer */
footer {
    text-align: center;
    background-color: #333333;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #fff;
    font-size: 1rem;
}

/* Mobile Anpassungen */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }
    header p {
        font-size: 1rem;
    }
    .cta h2 {
        font-size: 2rem;
    }
    .cta p {
        font-size: 1rem;
    }
    .cta a {
        font-size: 1rem;
    }
}
